<div class="mt-4">
  <h2>User profile</h2>
  <div class="mt-2">
    <p>First name: <%= current_user.first_name %></p>
    <p>Last name: <%= current_user.last_name %></p>
    <p>Email name: <%= current_user.email %></p>
    <table class="table">      
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Badge image</th>
        <th scope="col">Rule</th>
      </tr>
      <%= render current_user.badges %>
    </table>
  </div>
</div>

<%= link_to "Back", root_path %>
