<h1>Users profile</h1>

<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Email name: <%= current_user.email %></p>
<p>Badges: <% current_user.badges.each do |b| %>
            <p>Title: <%= b.title %></p>
            <p><%= image_tag b.image_url %></p>
            <p><%= b.role %></p>
            <p><%= b.criteria %></p>
          <% end %>
</p>
<%= link_to "Back", root_path %>
