<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
      <p><%= button_to 'Exit', session_path(:user_id), method: :delete %></p>
    <% else %>
      <p><%= link_to "Logged in", login_path %></p>
      <p><%= link_to "Sign in", signup_path %></p>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
